
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100; 
}

.app {
padding-top: 5rem;
display: flex;
justify-content: center;
}
.wrap {
    width: 500px;
}
$height : 46px;


.select{
  width:100% ;
  position: relative;
  z-index: 100;
&.open {
 .select__dropdone{
    display:block;
 }  
 .select__input{
    border-bottom: none;
 }
 .select__backdrop{
    display:block;
 }  

}

&__input{
    border: 2px solid rgb(37, 7, 135);
    height:$height ;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
    justify-content: space-between;
    
}

&__dropdone{
    display: none;
   position: absolute;
   border: 2px solid rgb(37, 7, 135);
   border-radius: 5px;
   top:$height;
   left: 0;
   right: 0;
   max-height: 200px;
   overflow-y: auto;
   box-shadow: 2px  3px  5px grey;
}
&__list{
    margin: 0;
    padding: 0;
    list-style: none;
}
&__backdrop{
   position: fixed; 
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background: transparent;
   z-index: -1;
   display: none;
}
&__item{
    padding: 0.5rem;
    border-bottom: 2px solid rgb(37, 7, 135);
&:hover{
        background-color: rgb(188, 195, 195);
        cursor: pointer;
        transition: .2s background-color ease-in;
    }
&.selected{
    background-color: rgb(6, 180, 180);   
}

}

}